# Text defaults
* text=auto
# Source/config
*.h text
*.hpp text
*.c text
*.cpp text
*.cs text
*.ini text
*.uproject text
*.uplugin text
*.md text
*.ps1 text
*.bat text
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
